<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
          <%if (cart && cart.products.length > 0) { %>
            <div class="grid">

              <% for (let data of cart.products) {%>
                <div>

                  <p>Title: <%= data.title %> </p>
                  <p>Price: <%= data.price %></p>
                  <p>Quantity: <%= data.cartItem.qty %></p>
    
                  <form action="/cart/delete-item" method="post">
                    <button class="btn">Delete</button>
                    <input type="text" name="productId" value="<%= data.id %>" hidden>
                  </form>
                </div>
                <% } %>
            </div>
              <h1>Total: $<%= cart.total %></h1>
              <div class="centered">
                <form action="/orders" method="post">
                  <button type="submit" class="btn">Order</button>
                </form>
              </div>
            <% } else {%>
            <h1>No Products Found!</h1>
            <% }%>
        </main>

        <%- include('../includes/end.ejs') %>